name: test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          # cache: 'pnpm'  # 关闭 pnpm 缓存以避免在无锁文件情况下报错

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: pnpm i --no-frozen-lockfile

      - name: Build simple-panzoom
        run: pnpm --filter ./packages/simple-panzoom build

      - name: Build sketch-ruler
        run: pnpm --filter ./packages/sketch-ruler build

      - name: Test simple-panzoom
        run: pnpm --filter ./packages/simple-panzoom test

      - name: Test sketch-ruler
        run: pnpm --filter ./packages/sketch-ruler test

      - name: Build docs
        run: pnpm build:demo

      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'push'
        with:
          publish_dir: ./packages/docs/dist
          github_token: ${{ secrets.GITHUB_TOKEN }}
