name: test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Enable Corepack
        run: corepack enable

      - name: Activate PNPM 10
        run: corepack prepare pnpm@10.22.0 --activate

      - name: Install dependencies
        run: pnpm i

      - name: Build simple-panzoom
        run: pnpm --filter ./packages/simple-panzoom build

      - name: Build sketch-ruler
        run: pnpm --filter ./packages/sketch-ruler build

      - name: Test simple-panzoom
        run: pnpm --filter ./packages/simple-panzoom test

      - name: Test sketch-ruler
        run: pnpm --filter ./packages/sketch-ruler test
